/* *{
    outline: 2px solid red
} */
html{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    font-family: 'Seguoe Ui' , serif;
    margin: 0px;
}
.box{
    display: flex;
    object-fit: contain;
    max-height: 100vh;
    width: 100%;
 

}
.content-container{
    max-width: 125%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    padding: 0;
    margin: 0;
    
  

}
.banner{
    position: relative;
    left: -20%;
    display: flex;
     align-items: center;
}
    

.banner img{
    position: relative;
    padding: 20px 0px;
    object-fit: contain;
    margin: 0;
    position: relative;
    width: 500px;
    height:500px;
   



}
.left-side{
   padding: 10px 20px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;

   
}
.rightside{
    width: 50vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.fb-logo img{
    
    width: 60px;
    height: 60px;
}

.motto p{
    width: 100%;
    color: black;
    font-family: 'Facebook Sans', sans-serif;
    font-size: 48px; 
    line-height: 1.0;
    font-weight: 600;
    padding: 200px 0px 0px 0px;                                                                
                                                
}
span {
    color:#1877F2
}
.divider{
    position: static;
    display: flex;
    justify-content: center;
    max-height: 100vh ;
    border: 1px solid rgba(128, 128, 128, 0.295) ;
  

}
.form h3, input , button{
    font-family: Segoe UI , Segoe UI Bold,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-weight: 800;
}
.form-content{
   
    right: -30px;
    padding: 0px 10px;
    max-width: 50vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
 

}
.form-content h3{
    font-family: 'Segoe UI', sans-serif;
    margin: 0px 0px 8px;
    color: black;
    align-self: flex-start;
    font-weight: 600;
   
}


.form-content input {
    width:520px ;
    max-width:100%;
    margin: 6px 0px;
    padding: 10px 20px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 12px;
    font-weight: 600;
}
.form{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
   
}
.form-content input:hover{
    cursor: pointer;   
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 12px;
}
.form-content button {

     width:100% ;
    height: 40px;

}
.form .login{
    margin: 6px 0px;
    padding: 0px 20px;
    background-color: #1877F2;
    color: aliceblue;
    border: none;
    border-radius: 25px;
  
    
}
.form .login:hover{
    cursor: pointer;
    width: 100%;
    color: aliceblue;
    background: blue;
    border: 1px solid transparent;
    border-radius: 25px;
}
.form .fp{
     margin: 6px 0px;
     border-radius: 25px;
    padding: 0px 20px;
    background:none;
    border: none;
    
}
.form .fp:hover{
    cursor: pointer;
    background:rgba(164, 162, 162, 0.132);
    border: none;
    border-radius: 25px;
    
}
.form p{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 800;
   
}
.create{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 16px 0px 0px;
    width: 100%;
    
}

.create button{
    margin: 6px 0px;
    padding: 40px , 0px;  
    width: 100%;
    color: rgb(74, 29, 255);
    background: none;
    border: 1px solid blue;
    border-radius: 25px;
    
}
.create button:hover {
    
    width: 100%;
    background-color: rgba(173, 165, 165, 0.18);
    border: 1px solid transparent;
    border-radius: 25px;
    
}

.create img{
    margin: 6px 0px 0px;
    padding: 16px 0px 0px;
    margin-top: 10px;
    height: 13px;
    width: 65px;

}
footer{
  
width: 99%;
}
.footer-area{
         max-width:95%;
    display: flex;
    flex-flow: row;
    align-self: center;
    justify-self: center;
    
    border-top: 2px solid rgba(134, 128, 128, 0.516);
    justify-content: space-around;
        overflow-x: hidden;

    
}
.links{
 
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    


}
.links .services{
    flex-flow: row wrap;
    margin: 8px 0px;
    line-height: 2.0;
   
  
}
.links .languages{
    max-width: 350px;
    margin: 8px -6px -6px;
 

}

.links a , p{
    font-size: 15px;
    margin: 8px 0px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    text-decoration: none;
    color: #666A72;
    
   
}
.links a ,p {

    margin: 8px 12px;
 
   
   
}

/*media queries*/
@media only screen and (max-width: 600px) {
    body {
        font-size: 15px;
        
    }
    .content-container .banner {
        display: none;
    }
    .content-container .motto {
            display: none;
    }
    .content-container .divider {
            display: none;

    }
    .left-side{
        display: flex;
        width: 100vw;
        border-bottom: 2px solid rgba(164, 160, 160, 0.422);
        align-items: center;
    }
    .rightside{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
  
    .content-container{
        width: 100%;
        height: 10%;
    }
    
      .form input{
         
         padding: 10px 20px;
         margin-top: 10px;
         border-radius: 16px;
         width: 86%;
       
     
        
        
    }
    .divider{
        display: none;
    }
    .form h3{
        font-weight: 700;
    }
    .form-content {
        justify-content: space-around;
        padding: 10px 20px;
        width: 100%;
        align-self: center;
        justify-self: center;
        height: 100%;

    }
   
    .box  
        {
        display: flex;
        flex-flow: column wrap;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
    }
    .links{
        max-width: 90%;
    padding: 20px 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-self: center;

}
    
}


/* For tablets between 601px and 1024px */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 15px;

        
    }
    .box{

        align-items: center;
        
    }
   
    .content-container .banner {
        display: none;
    }
    .content-container .motto {
            display: none;
    }
    .content-container .divider {
            display: none;

    }
    .left-side .img{
        padding: 10px 0;
        margin: 0;
        align-self: center;
        justify-self: center;
      

    }
    .content-container{
        width: 100%;
        height: 10%;
    }
   .left-side{
        display: flex;
        width: 100vw;
        border-bottom: 2px solid rgba(164, 160, 160, 0.422);
        align-items: center;
    }
     .box{
        display: flex;
        flex-flow: column wrap;
        height: 100%;
    }
    .form-content{
        justify-content: center;
        height: 80vh;
        padding: 0;
        margin: 0;
        width: 60vw;
       


    }
        .form-content input{
         width:90%;

        padding: 10px 20px;
        height: 40px;
        margin-top: 10px;
        max-width: 50vw;
 


    }
    .footer-area{
        display: flex;
        flex-shrink: 1;
        flex-wrap: wrap;
      
    }


}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    body {
        font-size: 15px;

        
    }
    .box{

        align-items: center;
        width: 100vw;
       
    }
   
    .content-container .banner {
        display: none;
    }
    .content-container .motto {
            display: none;
    }
    .content-container .divider {
            display: none;

    }
    .left-side .img{
        padding: 10px 0;
        margin: 0;
        align-self: center;
        justify-self: center;

    }
    .content-container{
        width: 100%;
        height: 10%;
    }
    .left-side{
        width: 100vw;
        padding: 30px 0px;
        align-items: center;
        border-bottom: 4px solid rgba(174, 166, 166, 0.253);
    

    }
     .box{
        display: flex;
        flex-flow: column wrap;
        height: 100%;
        width: 100%;
    }
    .rightside{
        width: 50w;
        display: flex;
        flex-flow: column;
        align-items: center;
  }
    .form-content{
        justify-content: center;
        height: 80vh;
        padding: 0;
        margin: 0;
        width: 60vw;
       


    }
        .form-content input{
         width:90%;

        padding: 10px 20px;
        height: 40px;
        margin-top: 10px;
        max-width: 50vw;
 


    }
    .footer-area{
        display: flex;
        flex-shrink: 1;
        flex-wrap: wrap;
       
    }

}
@media screen and (min-width:1200px){

    html{
        padding: 0;
        margin: 0;
    }
   
}
